<div class="container mt">
  <div class="card col-xs-12 col-sm-12 col-md-12 mb-3">
    <div class="card-header">   <h5 class="card-title" (click)="toggleshow($event)">My Account<i *ngIf="!showAccount" class="pi pi-chevron-down right"></i><i *ngIf="showAccount" class="pi pi-chevron-up right"></i></h5></div>
    <div *ngIf="showAccount" class="card-body col-xs-12 col-md-12 summary">
<table class="col-xs-12 col-md-12">
 <tr><td>Account Number</td><td class="headings">{{ accNoSummary.accountNumber}}</td>
  <td>Available Balance</td><td class="headings">{{ accNoSummary.balance | currency:'INR'}}</td>
  <td>Minimum Balance</td><td class="headings">{{ accNoSummary.minimumBalance | currency:'INR'}}</td>
</tr>
<tr><td>Currency</td><td class="headings">{{ accNoSummary.currencyType}}</td>
  <td>Bank Name</td><td class="headings">{{ accNoSummary.bankName}}</td>
  <td>Branch</td><td class="headings">{{ accNoSummary.branchName}}</td>
</tr>
</table>
    </div>
  </div>
    <form [formGroup]="transferForm">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 mb-3">
            <p-card header="From">
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6 mr-3 mb-3">
                <p-dropdown [options]="countries"
                 placeholder="INR" optionLabel="code" [showClear]="true" [disabled]="true"></p-dropdown></div>
                 <div class="ui-grid-col-6 mr-3 mb-3"> <input id="input" type="text" size="30" pInputText placeholder="Enter Your amount"
                 maxlength="8" formControlName="amount" numbersOnly (change)="checkAmount($event.target.value)">
            </div></div></div> </p-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 mb-3">
            <p-card header="To">
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6 mr-3 mb-3">
                <p-dropdown [options]="countries" formControlName="selectedCountry"
                placeholder="Select a Country" optionLabel="code" [showClear]="true" (onChange)="onChangeCity($event)"></p-dropdown></div>
                <div class="ui-grid-col-6 mr-3"> <input id="input" type="text" size="30" numbersOnly placeholder="Converted Value"
                formControlName="convetedValue" pInputText disabled></div></div></div>
            </p-card>
            <span class="col-xs-12 col-sm-12 col-md-6" *ngIf="convertedlist && convertedlist.serviceTax">Service Tax: <b>{{convertedlist?.serviceTax}}</b></span>
            <span class="col-xs-12 col-sm-12 col-md-6" *ngIf="convertedlist && convertedlist.totalAmount">Total Amount: <b>{{convertedlist?.totalAmount}}</b></span>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 mt-4">
        <input id="input" type="text" size="30" placeholder="Account number" pInputText formControlName="accNo"
        numbersOnly maxlength="13" class="mr-2">
    <button pButton type="button" label="Transfer" (click)="transferCurrency()"></button>
    </div>
    </form>

</div>
<app-alert [alertObj]="commonService.alertConfig" *ngIf="commonService.alertConfig?.modalShow" (buttonAction)="modalAction($event)">
</app-alert>

